<div class="multi-nested multi_value custom_field">
  <%= f.input :complex_date,
              as: :nested_date,
              include_blank: false,
              input_html: {
                class: '',
                data: {name: :complex_date}
              },
              required: f.object.required?(:complex_date)
  %>
  <button type="button" class="btn btn-link add">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="controls-add-text">Add another date</span>
  </button>
</div>
