<h1><%= work %> <span class="state state-tombstone 	badge bg-primary">Tombstoned On <%= work.tombstone_date&.to_date %></span></h1>
<span class="human_readable_type">(<%= work&.human_readable_type %>)</span>